@import 'globals';

.zoom {
  @extend .whiteBox;
  position: fixed;
  display: none;
  bottom: 10px;
  right: 255px;
  height: 110px;
  width: 55px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  @media (min-width: $desktop) {
    display: block;
  }
}

.zoomBtn {
  width: 100%;
  height: 50%;
  position: relative;
}

.zoomIn {
  @extend .zoomBtn;
}

.zoomOut {
  @extend .zoomBtn;
}

.zoomMinus {
  position: absolute;
  height: 2px;
  width: 15px;
  border-radius: 1px;
  background: #000;
  top: 26.5px;
  left: 20px;
}

.zoomPlus {
  @extend .zoomMinus;
  transform: rotate(90deg);
}
