@import 'globals';

.save {
  @extend .routeBtn;
  border-color: $routeBtnBorder;
}

.save.hover:hover, .save.pressed {
  border-color: $routeBtnText;
}

.saved {
  @extend .routeBtn;
  color: #ABABAB;
  border-color: #e0e0e0;
}

.saved.hover:hover, .saved.pressed {
  border-color: #ABABAB;
}

.icon {
  margin-top: 11px;
  height: 21px;
  display: inline-block;
  stroke: $routeBtnIconStroke;
  fill: none;
}

.saved .icon {
  @extend .icon;
  stroke: #ccc;
}

.label {
  min-width: 40px;
  margin-left: 9px;
  font-size: 14px;
  line-height: 42px;
  display: inline-block;
  vertical-align: top;
  @media (min-width: $desktop) {
    text-align: center;
    min-width: 81px;
  }
}

.extra {
  @media (max-width: $desktop - 1px) {
    display: none;
  }
}
