{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "mocha": true
  },
  "ecmaFeatures": {
    "experimentalObjectRestSpread": true,
    "classes": true
  },
  "rules": {
    "brace-style": [2, "stroustrup", {"allowSingleLine": true}],
    "max-len": 0,
    "object-curly-spacing": 0
  }
}
