
.card {
    background: $bg-color-card;
    margin-bottom: 12px;
    border: 1px solid #eee;
    @extend .indent-default;
}

.card-group {
    margin-bottom: 12px;
    > .card {
        margin-bottom: -1px;
    }
}