//===========================
// Helpers
//------------------------------------------------
//  Resuable Style Properties
//===========================

.text-center{
    text-align: center;
}

.center {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
}

.truncate-line-1 {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.truncate-line-4 {
  display: -webkit-box; //Must be  -webkit-box  not display: flex;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

/* http://www.cssmojo.com/line-clamp_for_non_webkit-based_browsers/ */