//===========================
// Navigations
//------------------------------------------------
//
//===========================

.header {
    background: $palette-primary;
    color: #fff;
    fill: #fff;
}

.footer {
    margin-top: 1px;
}

.toolbar {
    background: #fff;
}