
//===========================
// Fill Containers
//---------------------------
//
//===========================
// Area to be filled by child
.container-fill {
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

// Stacked and stretch to fill y-axis and x-axis
.container-fill-y {
    @extend .container-fill;

    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

// Stretch to fill x-axis and center vertically
.container-fill-x-center {
    @extend .container-fill;

    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

// Stacked tretch to fill y-axis and center horizontally
.container-fill-y-center {
    @extend .container-fill;

    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

// Child of .container-fill to fill.
.fill {
    -webkit-flex: 1 1 0%;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
}

.fill-scroll {
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0;
    flex: 1 1 0;
    overflow: auto;
}
