//===========================
// Typography
//------------------------------------------------
//
//===========================

body {
    font-family: $base-font-family;
    font-size: 100%;
    color: #333;
}

//  Headers
h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-weight: 600;
}

h1, h2 {
    line-height: 48px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3, h4 {
    line-height: 24px;
}

h3 {
    font-size: 18px;
}

// Special Typography
.text-tall {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

//  Spacing

.indent-default {
    padding: 12px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}