$iphone: 375px;
$desktop: 960px;

$blue: #157AFC;
$grayText: #606060;
$routeBtnBorder: #DEE9EF;
$routeBtnText: #577B8E;
$routeBtnIconStroke: #267EAB;

.whiteBox {
  box-shadow: 0 0.5px 2px rgba(0,0,0,0.5);
  background: #fff;
}
