@import 'reset';
@import 'globals';

html {
  box-sizing: border-box;
  font-family: Arial;
  font-size: 14px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*:focus {
  outline: 0;
}

:root {
  font-family: Arial;
  font-size: 14px;
  user-select: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.key {
  @extend .whiteBox;
  position: fixed;
  display: none;
  bottom: 10px;
  right: 10px;
  height: 110px;
  width: 235px;
  border-radius: 4px;
  @media (min-width: $desktop) {
    display: block;
  }
}
