@import 'reset';

html {
  box-sizing: border-box;
  font-family: Arial;
  font-size: 14px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

input {
  outline: none;
  appearance: none;
  border: none;
}

:root {
  font-family: Arial;
  font-size: 14px;
}

.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}