@mixin make-column($column-count, $grid-columns-total) {
    width: $column-count / $grid-columns-total * 100%;
}

@function make-offset($column-count, $grid-columns-total) {
    @return ($column-count / $grid-columns-total) * 100%;
}

@mixin col-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

@mixin col-fill {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

@mixin row-flex {
    -ms-flex-line-pack: start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 1px;
    position: relative;
}

//===========================
// Flushing (TO DO: Convert to mixins)
//---------------------------
// Definition: completely level or even with another surface.
//---------------------------
//  Flushing is used to pull a container that is along the edge of the viewport margins over the edge.
//===========================

/*Container Flushing*/

@mixin container-flush-left {
    padding-left: 0;
}

@mixin container-flush-right {
    padding-right: 0;
}

@mixin container-flush-both {
    overflow-x: hidden;
    @include container-flush-left;
    @include container-flush-right;
}

// /*Row Flushing*/
$row-flushing-offset: ($viewport-margin + $grid-gutter-width / 2) * -1;

@mixin row-flush-left {
    margin-left: $row-flushing-offset;
}

@mixin row-flush-right {
    margin-right: $row-flushing-offset;
}

@mixin row-flush-both {
    flex: 1 1 0%;
    @include row-flush-left;
    @include row-flush-right;
    > col {
        flex: 1 1 auto;
    }
}

// /*Column Flushing*/

@mixin col-flush-left {
    // Works only for column closest to the left\
    padding-left: $viewport-margin + $grid-gutter-width / 2;
}

@mixin col-flush-right {
    // Works only for column closest to the right
        padding-right: $viewport-margin + $grid-gutter-width / 2;
}

@mixin col-flush-both {
    // Works only for full-width columns such as col-xs-12 or col-fixed-24.
    @include col-flush-left;
    @include col-flush-right;
}