@import 'globals';

.item {
  width: 100%;
  height: 101px;
  border-top: 1px #e0e0e0 solid;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
}

.item:first-of-type {
  border-top: none;
  height: 100px;
}

.id {
  height: 60px;
  width: 70px;
  font-size: 24px;
  line-height: 60px;
  display: inline-block;
  text-align: center;
}

.info {
  vertical-align: top;
  display: inline-block;
  height: 60px;
  width: calc(100% - 70px);
  padding: 8px 0;
}

.name {
  font-size: 14px;
  height: 22px;
  line-height: 22px;
  width: 100%;
}

.trips {
  font-size: 14px;
  height: 22px;
  line-height: 22px;
  width: 100%;
  color: #7A7A7A;
}

.btns {
  height: 40px;
  width: 100%;
  padding: 5px;
  font-size: 0;
  line-height: 0;
}

.btn {
  height: 30px;
  border-radius: 4px;
  border: 1px solid;
  display: inline-block;
  padding: 0 7px;
}

.saved {
  @extend .btn;
  color: #e0e0e0;
}

.saved:hover {
  color: #ccc;
  border-color: #ccc;
}

.save {
  @extend .btn;
  color: red;
}

.save:hover {
  color: purple;
}

.icon {
  margin-top: 5px;
  height: 18px;
  width: 18px;
  background: orange;
  display: inline-block;
}

.label {
  margin-left: 7px;
  font-size: 14px;
  line-height: 28px;
  display: inline-block;
  vertical-align: top;
}

.stops {
  @extend .btn;
  margin-left: 5px;
  @media (min-width: $desktop) {
    display: none;
  }
}













