@import 'globals';

.user {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  position: relative;
  transition: all 200ms linear;
}

@keyframes userPulse {
  0% {
    transform: scale(0.49);
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.pulse {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: rgba(21, 122, 252, 0.6);
  border-width: 1px;
  border-type: solid;
  border-color: $blue;
  animation: userPulse 1.5s infinite;
}

.dot {
  position: absolute;
  top: 6px;
  left: 6px;
  border: 2px solid #fff;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: $blue;
  box-shadow: 0 1px 4px rgba(0,0,0,0.4);
}
